/* style original */

body{
    background-image: url("../img/peanutgreen.png");
    background-repeat: repeat;
    font-family: Verdana;
    margin-left: 50px;
    margin-right: 50px;
}

p{
    color:rgb(29, 145, 0);
	font-size: 20px;
}

h1{
    text-align: center;
    color: rgb(152, 253, 127);
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

h2{
    color:rgb(29, 145, 0);
    text-align: center; 
}

h3{
    color:rgb(29, 145, 0);
}

img {
    width: 30%;
	min-width: 200px;
    border: 2px solid rgb(29, 145, 0);
    border-radius: 10px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    border: 5px solid rgb(29, 145, 0);
    border-radius: 10px;
    background-color: rgb(152, 253, 127);
}

li{
    margin: 5px;
}

/* boutons de navigation */
.tabs{
    font-weight: bold;
    color: rgb(29, 145, 0);
    text-decoration: none;
}

/* paragraphes alternant de droite à gauche dans l'acceuil */
.paragrapheRight img{
	float: left;
	margin-right: 10px;
}
.paragrapheLeft img{
	float: right;
	margin-left: 10px;
}
.clear_float{
	clear: both;
	height: 0.5em;
}

/* contenue principal des pages */
.content{
    border: 5px solid rgb(29, 145, 0);
    border-radius: 10px;
    background-color: rgb(188, 255, 157);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 175px;
}

/* animation de la caouhete */
#clicker{
    /* -webkit-transition: all 1s ease;
    -o-transition: all 1s ease; */
    transition: all 0.2s ease;
	width: 200px;
    border: 0px solid rgb(29, 145, 0);
    border-radius: 0px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 1em;
}
#clicker:hover{
    transform:scale(1.1);
}
#clicker:active{
    transform:scale(1);
}

/* mise en page du clicker */
main{
    display: flex;
}
#clicker_section{
    flex: 1;
    text-align: center ;
}
#button_section{
    flex: 1;
    text-align: center;
}
#buttonUpArm{
    margin-bottom: 30px;
}
#buttonUp{
    margin-bottom: 10px;
}
#caouete{
    font-size: 1.5em;
}

button{
    font-size: 1.2em;
    color: rgb(29, 145, 0);
    background-color: transparent;
    border: 2px solid rgb(29, 145, 0);
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: box-shadow 0.3s;
    background-color: rgb(152, 253, 127);
}

/* animation boutons */
button:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
button:active{
    color: rgb(255, 174, 0);
}

form {
    width: 400px;
    padding: 10px;
    /*border: 2px solid rgb(29, 145, 0);*/
    border-radius: 10px;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
    margin-bottom: 10px;
}

input, textarea {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid rgb(29, 145, 0);
}

textarea {
    vertical-align: top;
    height: 5em;
}

#soumettre{
    margin-top: 10px;
    margin-bottom: 10px;
}
