body{
    background-color: rgb(55, 55, 55);
    font-family: Verdana;
    margin-left: 50px;
}

h1{
    text-align: center;
    color: rgb(180, 180, 180);
}

.zoom-out img {
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom-out :hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}